:root {
  --animate-duration: 2s;
  --animate-delay: 1s;
}
html{
  scroll-behavior: smooth;
}
@media screen and (max-width: 600px) {
  .form-wrapper {
    grid-template-columns: 1fr !important ;
  }
  input {
    margin: 0 !important;
  }
  html,
  body {
    overflow-x: hidden !important;
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea,
  select {
    width: 95% !important;
  }
  .choose-us-wrapper {
    min-height: 370px !important;
  }
  .count-num{
    margin: 4px 0;
  }
}
.nav-link{
  transition: all 0.3s;
  color: tomato;
}
.nav-link:hover{
  background-color: tomato;
  color: white;
}
.form-wrapper {
 
  color: white;
 
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 20px;
  border-radius: 4px;
  border-color: white;
  outline: none;
}
input[type="number"] {
  border: none;
  border-bottom: 1px solid;
  padding: 2px;
  font-size: 20px !important;
  outline: none;
}
input[type="submit"] {
  background-color: tomato;
  color: white;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 2px 8px;
  display: block;
  float: right;
  width: 150px;
}

textarea {
  width: 100%;
  padding: 28px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 20px;
  outline: none;
}
select {
  width: 100%;
  padding: 14px 20px !important;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 20px;
  outline: none;
}
.choose-us-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 420px;
  border: 1px dotted tomato;
  text-align: center;
}
.underline {
  width: 80px;
  height: 8px;
  border-radius: 4px;
  background-color: tomato;
  display: block;
  margin: 16px auto;
}
.feature {
  transition: 0.3s ease;
  padding: 2rem;
}
.feature:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Add the box shadow on hover */
}
.secondary-banner {
  background-color: transparent;
  background-image: linear-gradient(180deg, #32343b 0%, #818286 100%);
}
.scroll-arrow{
  width: 60px; height: 60px; border-radius: 50%; background-color: rgba(0, 0, 0, 0.135);
    position:fixed; bottom: 60px; right: 20px; display: flex; justify-content: center; align-items: center;
}
.scroll-arrow a {
  font-size: 20px;
  color: tomato;
}
.num{
  text-align: center;
  color: tomato;
  font-weight: 900;
  font-size: 24;
}
.count-num a {
  color: tomato;
  font-size: 20;
}
.count-num {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color:  rgba(255, 99, 71, 0.174);
}